@* @model Course[]  *@
@* @model IEnumerable<Course> *@
@model List<Course>

<h1>Course/List</h1>

<div class="row">

    @foreach (Course c in Model)
    {
        <div class="col">

            <div class="card">
                <img src="~/img/@c.Image" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">@c.Title</h5>
                    <a href="#" class="card-link">Analyze</a>
                </div>
            </div>
        </div>
    }
</div>