@model Product
<h1>Products/Details</h1>

<div class="row">
    <div class="col-4">
        <img src="~/img/@Model.productImage" alt="" class="img-fluid" />

    </div>
    <div class="col-8">
        <h1>@Model.productTitle</h1>
        <p>@Model.productDescription</p>
        <p>@Model.productPrice</p>
        <p>@Model.isAvailable</p>
        
    </div>

</div>