@model Product


<div class="row border">
    <div class="col-4">
        <img src="~/img/@Model.productImage" alt="" class="img-fluid" />

    </div>
    <div class="col-8 border-start p-3">
        <h1>
            @Model.productTitle

        </h1>
        <p>
            @Model.productDescription
        </p> 
        <p>
            @Model.productPrice
        </p>

        @if (Model.isAvailable)
        {
            @if (Model.productQuantity > 0)
            {
                <p>
                    Available
                </p>
            }
            else
            {
                <p>
                    Not enough stock
                </p>
            }

        }
        else
        {
            <p>
                Not available
            </p>
        }




    </div>

</div>