<h1>Products/Details</h1>

<div class="row">
    <div class="col-4">
        <img src="~/img/@ViewData["ProductImage"]" alt="" class="img-fluid" />

    </div>
    <div class="col-8">
        <h1>@ViewData["ProductTitle"]</h1>
        <p>@ViewData["ProductDescription"]</p>
        <p>@ViewData["ProductPrice"]</p>
        <p>@ViewData["IsAvailable"]</p>
        
    </div>

</div>