@model List<Product>


<div class="row">
    @foreach (Product product in Model)
    {
        @if (product.isAvailable)
        {
            <div class="col-md-3">
                @await Html.PartialAsync("_ProductCard", product)
            </div>
        }
    }
</div>